@font-face {
  font-family: "Chillax-Regular";
  src: url("fonts/Chillax-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Whatdo";
  src: url("fonts/Whatdo.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Sunday";
  src: url("fonts/SundayLemon.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Pizzicato";
  src: url("fonts/SundayLemon.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Rethink-bold";
  src: url("fonts/rethink/RethinkSans-Bold.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Rethink-medium";
  src: url("fonts/rethink/RethinkSans-Regular.woff2") format("woff2");
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.about-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.about-container.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.list-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.list-container.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.project-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.project-container.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Chillax-Regular", sans-serif;
  background-color: white;
  color: black;
}

ul {
  list-style-type: none;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 20px;
  font-family: "Chillax-Regular";
  height: 100px;
  width: 100%;
  margin: 0;
  position: absolute;
  background-color: white;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 80px;
}

.navigation ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: solid 2px black;
  /* border-radius: 50px; */
  transition: color 0.3s;
}

.navigation ul li a:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

#about-me:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

#project:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

.ham-menu {
  display: none;
}

.cv-button {
  background-color: #adb4ac;
  border: none;
  /* border-radius: 50px; */
  cursor: pointer;
  color: black;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin: 0 80px;
}

.cv-button:hover {
  background-color: black;
  color: #adb4ac;
  transition: background-color 0.1s ease;
}

/* Parallex section */
.parallex {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  text-align: left;
  font-family: "Rethink-bold";
  margin: 10px 0 0 50px;
}

.parallex h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 15px;
  overflow-wrap: break-word;
  hyphens: auto;
}

.parallex h3 {
  font-size: 36px;
  font-weight: 400;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 50px 0 50px;
  padding: 0;
}

.about-container h2 {
  font-size: 36px;
  grid-column: 1 / -1;
  text-decoration: underline;
  margin-bottom: 75px;
}

.about-container h3 {
  font-size: 66px;
  margin-top: -10px;
}

.about-container h4 {
  font-size: 24px;
}

.about-container p {
  font-size: 18px;
  font-weight: 400;
  margin-top: -15px;
  padding-right: 200px;
}

.about-container div {
  margin-right: 25px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 50px 25px 0;
  padding: 0 0 0 25px;
}

.about-content span {
  color: #adb4ac;
}

span {
  color: #adb4ac;
}

.list-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.qual-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.qual-img {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
}

.about-img {
  width: 100%;
  height: auto;
  min-width: 350px;
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.5);
}

.about-content-svg {
  width: 50px;
  height: auto;
}

.about-content-svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.scroll-down {
  position: absolute;
  bottom: 100px; /* Juster denne værdi efter behov */
  font-size: 70px; /* Juster størrelsen efter behov */
  color: #adb4ac;
  text-decoration: none;
  animation: bounce 2s infinite; /* Tilføj en bounce-animation */
}

/* Projekter */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin: 100px 50px 0 50px;
}

.project-container h2 {
  align-self: flex-start;
  font-size: 36px;
  text-decoration: underline;
  margin-bottom: 75px;
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 25px 0 25px;
}

.project-content h4 {
  font-size: 24px;
}

.project-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 300px;
  height: 100%;
  border: solid 1px black;
  padding: 10px;
  margin: 0 0 50px 0;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.project-box:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}
.project-box img {
  width: 100%;
  height: auto;
}

.project-button {
  font-family: "Chillax-Regular";
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;

  width: 180px;
}

.project-button:hover {
  background-color: white;
  color: black;
  height: auto;
  box-shadow: inset 0 0 0 1px black;
  transition: background-color 0.1s ease;
}

.project-svg {
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

.project-svg:hover {
  transform: scale(1.1);
}

.link-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px 0;
}

/* Kontakt sektion */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 100px 0 0 50px;
}

.contact-container h2 {
  font-size: 36px;
  text-decoration: underline;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 25px 25px 25px;
}

@media (max-width: 1250px) {
  .navigation {
    width: 100%;
    height: 100vh;
    max-width: 900px;
    top: 0;
    right: -900px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease;
    background: white;
    z-index: 3;
    position: fixed;
    overflow: hidden;
  }

  .cv-button {
    margin: 50px auto;
  }

  .navigation ul {
    display: block;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }

  .navigation ul li {
    margin: 50px 0 0 0;
  }

  .navigation ul li a {
    font-size: 36px;
  }

  .navigation.active {
    right: 0;
    transform: translateX(0);
  }

  nav {
    padding: 1rem;
    display: flex;
  }

  .ham-menu {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 4;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .parallex {
    justify-content: left;
    align-items: center;
    margin: -100px 50px 0 50px;
  }

  .parallex h1 {
    font-size: 80px;
    line-height: 15px;
  }

  .parallex h3 {
    font-size: 24px;
    font-weight: 400;
  }

  .scroll-down {
    position: absolute;
    bottom: 50px; /* Juster denne værdi efter behov */
    font-size: 35px; /* Juster størrelsen efter behov */
    color: #adb4ac;
    text-decoration: none;
    animation: bounce 2s infinite; /* Tilføj en bounce-animation */
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 50px;
    padding: 0;
  }

  .about-container h3 {
    font-size: 36px;
  }

  .about-img {
    max-width: 350px;
    min-width: 100px;
    margin-left: 25px;
  }
}

@media (max-width: 700px) {
  /* Parallex section */

  .parallex h1 {
    font-size: 28px;
  }

  .parallex p {
    font-size: 18px;
    font-weight: 400;
  }

  .parallex {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: -1;
    margin: 0;
  }

  /* About */
  .about-container {
    align-items: center;
    margin: 15px;
  }

  .about-container h3 {
    font-size: 24px;
    font-weight: 600;
  }

  .about-container p {
    font-size: 18px;
    font-weight: 400;
    padding: 50px 0 50px 0;
  }

  .about-content-img-list {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    max-width: 350px;
    min-width: 100px;
    height: auto;
    padding: 0;
    margin: 0 0 50px 25px;
  }

  .list-content {
    margin-left: 25px;
  }

  .list-content {
    display: flex;
    flex-direction: column;
  }

  .project-container {
    align-items: center;
  }
}
