@font-face {
  font-family: "Chillax-Regular";
  src: url("fonts/Chillax-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Whatdo";
  src: url("fonts/Whatdo.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Sunday";
  src: url("fonts/SundayLemon.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Pizzicato";
  src: url("fonts/SundayLemon.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Rethink-bold";
  src: url("fonts/rethink/RethinkSans-Bold.woff2") format("woff2");
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.about-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.about-container.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.list-container {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.list-container.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Chillax-Regular", sans-serif;
  background-color: white;
  color: black;
}

ul {
  list-style-type: none;
}

/* Navigation */
.navigation {
  display: flex;
  position: absolute;
  justify-content: right;
  align-items: center;
  padding: 20px 20px;
  font-family: "Chillax-Regular";
  height: 100px;
  width: 100%;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 80px;
}

.navigation ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: solid 2px black;
  border-radius: 50px;
  transition: color 0.3s;
}

.navigation ul li a:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

#about-me:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

#projects:hover {
  color: #adb4ac;
  border-color: #adb4ac;
}

.ham-menu {
  display: none;
}

.cv-button {
  background-color: #adb4ac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin: 0 80px;
}

.cv-button:hover {
  background-color: black;
  color: #adb4ac;
  transition: background-color 0.1s ease;
}

/* Parallex section */
.parallex {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  text-align: left;
  font-family: "Rethink-bold";
  position: relative;
  margin: 0 0 0 50px;
}

.parallex h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 15px;
}

.parallex h3 {
  font-size: 36px;
  font-weight: 400;
  
}
.parallex-content div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0;
}

.arrow {
  align-self: center;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 50px;
  line-break: auto;
}

.about-container h2 {
  font-family: "Rethink-bold";
  font-size: 80px;
  font-weight: 600;
  grid-column: 1 / -1;
  
}

.about-container h3 {
  font-size: 24px;
  font-weight: 600;

}

.about-container p {
  font-size: 18px;
  font-weight: 400;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin: 0 50px 25px 0;
  padding: 0 50px 0 0;
  
}

.about-content span {
  color: #adb4ac;
}

span {
  color: #adb4ac;
}

.list-content {
 padding: 0 10px 0 0;
}

.qual-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 ;
  padding: 15px 0 0 0;
}

.qual-img {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
}

.about-img {
  width: 100%;
  height: auto;
  min-width: 400px;
  border-radius: 25px;
  display: none;
}

.about-content-svg {
  width: 50px;
  height: auto;
  margin-top: 25px;
}

.about-content-svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.scroll-down {
  position: absolute;
  bottom: 100px; /* Juster denne værdi efter behov */
  font-size: 48px; /* Juster størrelsen efter behov */
  color: #adb4ac;
  text-decoration: none;
  animation: bounce 2s infinite; /* Tilføj en bounce-animation */
}

/* Projekter */





@media (max-width: 900px) {
  .navigation {
    width: 100%;
    height: 100vh;
    max-width: 900px;
    top: 0;
    right: -900px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    background: white;
  }

  .cv-button {
    margin: 0 auto;
  }

  .navigation ul {
    display: block;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }

  .navigation ul li {
    margin: 50px 0 0 0;
  }

  .navigation ul li a {
    font-size: 36px;
  }

  .navigation.active {
    right: 0;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: transparent;
  }

  .ham-menu {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  /* Parallex section */

  .parallex h1 {
    font-size: 28px;
  }

  .parallex p {
    font-size: 18px;
    font-weight: 400;
  }

  .parallex {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 1;
  }

  /* About */
  .about-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .about-container h3 {
    font-size: 24px;
    font-weight: 600;
  }

  .about-container p {
    font-size: 18px;
    font-weight: 400;
  }

  .about-img {
    max-width: 350px;
    min-width: 100px;
    height: auto;
    align-self: center;
  }
}
